@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;


.btn-home {
  transition: all 0.3s ease-in-out;
}
.btn-home:hover {
  scale: 1.05;
  transition: all 0.3s ease-in-out;
}
.btn-pag {
  transition: all 0.3s ease-in-out;
}
.btn-pag:hover {
  scale: 1.4;
  transition: all 0.3s ease-in-out;
}
